body {
  background-color: #a3a3a3;
}
html {
  background-color: #c4c3c3;
}

.bulma-overlay-mixin {
  @include overlay(1.5rem);
  background-color: black;
  border-radius: 0.25em;
  color: white;
  opacity: 1;
  padding: 1em;
}

.hero {
  /*background-color: pink;*/
  background-image: url(../src/images/just-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  opacity: 0.8;
  margin-top: 20px;
  width: 97%;
  margin: auto;
  margin-top: 20px;
}

/* .container {
  width: 10000px !important;
} */

.wrapper {
  padding-top: 10px;
  width: 97%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Budget input  */
.input-size {
  text-align: center;
  border-radius: 500px;
}
.budget-input {
  display: flex;
  /* justify-content: center; */
  gap: 5rem;
}
.input-value {
  font-size: 20px;
  font-weight: bolder;
}
