body {
  /* background-color: #a3a3a3; */
  background-color: #000;
  font-size: 1.5rem;
}
html {
  /* background-color: #c4c3c3; */
  background-color: #000;
}

.bulma-overlay-mixin {
  @include overlay(1.5rem);
  background-color: black;
  border-radius: 0.25em;
  color: white;
  opacity: 1;
  padding: 1em;
}

/* NAVBAR - START */
.navbar {
  margin: auto;
}

.navbar-item {
  font-size: 1.6rem;
  text-decoration: underline solid #fff;
  text-transform: uppercase;
  transition: 0.5s;
  color: #ee06ee;
}

a:link {
  color: #ee06ee;
}

a:link:hover {
  color: #ebe710;
}

.navbar-menu {
  background-color: #4b414152;
  border-radius: 100px;
  padding: 0 5rem 0 5rem;
}
/* NAVBAR - FINISH */

.hero {
  /*background-color: pink;*/
  background-image: url(images/budgeteen-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  height: 100%;
}

/* .container {
  width: 10000px !important;
} */

.wrapper {
  padding: 2rem 0 5rem 0;

  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comapny-img {
  width: 50%;
  height: 100%;
}

/* ABOUT - START */

.tittle {
  width: 15rem;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.aboutSection {
  background-color: #ebe710;
  padding: 2rem 2rem 5rem 1rem;
}

.about-margin {
  margin: auto;
}

.imgFight,
.image {
  height: 60%;
  width: 60%;
  margin: auto;
}
/* ABOUT - FINISH */

/* Budget input  */
.input-size {
  text-align: center;
  border-radius: 500px;
}
.budget-input {
  display: flex;
  /* justify-content: center; */
  gap: 5rem;
}
.input-value {
  font-size: 20px;
  font-weight: bolder;
}

/* Comany img */

/* Expense trakcer CSS - START */

.trackerCSS {
  /* For all elements inside the tarcer */
  background-color: #6a6d654f;
  padding: 0 3rem 7rem 3rem;
  /* border-radius: 100px; */
}
.txt-center {
  text-align: center;
}

.trackerHeading,
.remainingTXT,
.balanceTXT,
.spentTXT,
.expensesTXT,
.transactionTXT {
  text-align: center;
  font-size: 1.6rem;
}

.trackerHeading {
  font-size: 5rem;
  font-weight: bold;
  padding: 5rem 0 5rem 0;
  color: #f14668;
}

.expensesTXT,
.transactionTXT .expenseForm-name,
.expenseForm-amount {
  color: #f14668;
}

.expenseList-padding {
  padding: 5rem 0 5rem 0;
}

.expenseForm-padding {
  padding-bottom: 7rem;
}

.btn-addExpense {
  border-radius: 100px;
  padding: 2rem;
  background-color: #ee06ee;
}

/* Expense trakcer CSS - END */
